node_modules
npm-debug.log
dist
.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.pem
.next
out
.env
.env.*.local
.vercel
.turbo
coverage
.replit
replit.nix
